# MongoDB Atlas Connection String
MONGO_DB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=CustomerSegmentationCluster

# AWS Credentials for S3 Storage
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=ap-south-1

# Application Server Config
PORT=5000
